section>h2 {
  border-bottom: 2px solid #333;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.75rem;
}

.profile_pic {
  display: flex;
  justify-content: right;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex ; 
  gap: 2rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:hover , nav ul li a:visited {
  color : red ; 
}


table tr, tbody tr {
  display: block;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 0;
}

table tr:nth-child(1) , tbody tr:nth-child(2n) {
  border-bottom: 1px solid #333;
}

tbody tr:nth-child(2n + 1) {
  border-bottom: 1px solid #e45d5d;
}

table thead tr th , table tbody tr td {
  width: 13rem;
}

table thead tr th {
  text-align: left;
}